apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness-canary
  labels:
    app: aceest-fitness
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aceest-fitness
      track: canary
  template:
    metadata:
      labels:
        app: aceest-fitness
        track: canary
    spec:
      containers:
        - name: aceest-fitness
          image: nehag0308/aceest-fitness:v1.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
