apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness
  labels:
    app: aceest-fitness
spec:
  replicas: 2
  selector:
    matchLabels:
      app: aceest-fitness
      version: v1
  template:
    metadata:
      labels:
        app: aceest-fitness
        version: v1
    spec:
      containers:
        - name: aceest-fitness
          image: nehag0308/aceest-fitness:v1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
